<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kartikeya Tiwari</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>
<body style="margin: 20px; padding: 20px; border: 1px solid #ccc; border-radius: 10px;">
    <div>
        <hr style="border-style: solid; border-width: 1px 0 0; margin: 0;">
        <h1 style="text-align: center;" >Kartikeya Tiwari</h1>
        <hr style="border-style: solid; border-width: 0 0 1px; margin: 0;">
        <h2>Contact Information</h2>
        <p> <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 256 256"><g fill="none"><rect width="256" height="256" fill="#f4f2ed" rx="60"/><path fill="#4285f4" d="M41.636 203.039h31.818v-77.273L28 91.676v97.727c0 7.545 6.114 13.636 13.636 13.636"/><path fill="#34a853" d="M182.545 203.039h31.819c7.545 0 13.636-6.114 13.636-13.636V91.675l-45.455 34.091"/><path fill="#fbbc04" d="M182.545 66.675v59.091L228 91.676V73.492c0-16.863-19.25-26.477-32.727-16.363"/><path fill="#ea4335" d="M73.455 125.766v-59.09L128 107.583l54.545-40.909v59.091L128 166.675"/><path fill="#c5221f" d="M28 73.493v18.182l45.454 34.091v-59.09L60.727 57.13C47.227 47.016 28 56.63 28 73.493"/></g></svg> EmailId : <a href="http://127.0.0.1:8000/kartik/">kartikeya8760@gmail.com</a> </p>
        <p> <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 256 256"><g fill="none"><rect width="256" height="256" fill="#fff" rx="60"/><rect width="256" height="256" fill="#0a66c2" rx="60"/><path fill="#fff" d="M184.715 217.685h29.27a4 4 0 0 0 4-3.999l.015-61.842c0-32.323-6.965-57.168-44.738-57.168c-14.359-.534-27.9 6.868-35.207 19.228a.32.32 0 0 1-.595-.161V101.66a4 4 0 0 0-4-4h-27.777a4 4 0 0 0-4 4v112.02a4 4 0 0 0 4 4h29.268a4 4 0 0 0 4-4v-55.373c0-15.657 2.97-30.82 22.381-30.82c19.135 0 19.383 17.916 19.383 31.834v54.364a4 4 0 0 0 4 4M38 59.628c0 11.864 9.767 21.626 21.632 21.626c11.862-.001 21.623-9.769 21.623-21.631C81.253 47.761 71.491 38 59.628 38C47.762 38 38 47.763 38 59.627m6.959 158.058h29.307a4 4 0 0 0 4-4V101.66a4 4 0 0 0-4-4H44.959a4 4 0 0 0-4 4v112.025a4 4 0 0 0 4 4"/></g></svg> LinkedIn : <a href="https://www.linkedin.com/in/kartikeya8760/">linkedin.com/in/kartikeya8760/</a></p>
        <p> <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16"><path fill="currentColor" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59c.4.07.55-.17.55-.38c0-.19-.01-.82-.01-1.49c-2.01.37-2.53-.49-2.69-.94c-.09-.23-.48-.94-.82-1.13c-.28-.15-.68-.52-.01-.53c.63-.01 1.08.58 1.23.82c.72 1.21 1.87.87 2.33.66c.07-.52.28-.87.51-1.07c-1.78-.2-3.64-.89-3.64-3.95c0-.87.31-1.59.82-2.15c-.08-.2-.36-1.02.08-2.12c0 0 .67-.21 2.2.82c.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82c.44 1.1.16 1.92.08 2.12c.51.56.82 1.27.82 2.15c0 3.07-1.87 3.75-3.65 3.95c.29.25.54.73.54 1.48c0 1.07-.01 1.93-.01 2.2c0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/></svg> GitHub : <a href="https://github.com/ktiwari8760/">github.com/ktiwari8760/</a></p>
        <p> <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 256 256"><path fill="currentColor" d="m222.37 158.46l-47.11-21.11l-.13-.06a16 16 0 0 0-15.17 1.4a8.12 8.12 0 0 0-.75.56L134.87 160c-15.42-7.49-31.34-23.29-38.83-38.51l20.78-24.71c.2-.25.39-.5.57-.77a16 16 0 0 0 1.32-15.06v-.12L97.54 33.64a16 16 0 0 0-16.62-9.52A56.26 56.26 0 0 0 32 80c0 79.4 64.6 144 144 144a56.26 56.26 0 0 0 55.88-48.92a16 16 0 0 0-9.51-16.62M176 208A128.14 128.14 0 0 1 48 80a40.2 40.2 0 0 1 34.87-40a.61.61 0 0 0 0 .12l21 47l-20.67 24.74a6.13 6.13 0 0 0-.57.77a16 16 0 0 0-1 15.7c9.06 18.53 27.73 37.06 46.46 46.11a16 16 0 0 0 15.75-1.14a8.44 8.44 0 0 0 .74-.56L168.89 152l47 21.05h.11A40.21 40.21 0 0 1 176 208"/></svg> PhoneNumber : +91 9369435012</p>
    </div>
    <div>
        <table>
            <tr>
                <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 16 16"><path fill="currentColor" fill-rule="evenodd" d="M8 14.5a6.47 6.47 0 0 0 3.25-.87V11.5A2.25 2.25 0 0 0 9 9.25H7a2.25 2.25 0 0 0-2.25 2.25v2.13A6.47 6.47 0 0 0 8 14.5m4.75-3v.937a6.5 6.5 0 1 0-9.5 0V11.5a3.752 3.752 0 0 1 2.486-3.532a3 3 0 1 1 4.528 0A3.752 3.752 0 0 1 12.75 11.5M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M9.5 6a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0" clip-rule="evenodd"/></svg>
                </td>
                <td>
                    With over a year of experience in Software Development and testing at Paytm, I am a dedicated professional, passionate about Coding, Software Development, and Electronics Engineering. Known for my adaptability, strong work ethic, and commitment to delivering high-quality results, I am eager to contribute my skills and knowledge to a dynamic team.                </td>
            </tr>
        </table>
    </div>

    <div>
        <section>
            <h2>
                Education
            </h2>
            <ul>
                <li>Batchelor of Technology in Electronics Engineering,Babu Banarasi Das Institute of Technology and Management (CGPA : 8.5/10)</li>
                <li>Plus 2 (Science , Maths , English , computers) , City Montessori School , Lucknow </li>
                <li>High School (Science , Maths , English , computers) , City Montessori School , Lucknow </li>
            </ul>
        </section>
    </div>

    <div>
        <section>
            <h2>Professional Experience</h2>
            <h3>Paytm || Software Engineer 2023(June) - Present</h3>
            <p>Key responsibilities:</p>
            <ul>
                <li>Created ETL Data Pipelines for data migration with Python, AWS services. Wrote APIs performing CRUD Operations in db using Python/Pyspark.</li>
                <li>Worked on OCR Api's.</li>
                <li>Wrote Testing Scripts.</li>
            </ul>
        </section>
        <section>
            <h3>Paytm || Software Engineer Intern 2023 (January) - 2023 (June)</h3>
            <p>Key responsibilities:</p>
            <ul>
                <li>Wrote Scripts in Python, Pyspark and Java which performed CRUD operations in DataBase.</li>
                <li>Contributed in Fraud Transaction Detection Api Development for Paytm</li>

            </ul>
        </section>

        <div>
            <section>
                <h2>Technical Skills</h2>
                <ul>
                    <li>Python</li>
                    <li>Django/Flask</li>
                    <li>Java</li>
                    <li>Pyspark/SQL</li>
                    <li>AWS S3/Glue/Lambda/Redshift</li>
                    <li>DSA/Machine Learning</li>
                    <li>Git/Git Hub/BitBucket</li>
                </ul>
            </section>
        </div>

        <div>
            <section>
                <h2>Projects</h2>
                <ul>

                    <li><h3>2023 (Jan)  ETL Pipeline-PostgreSQL to AWS Redshift</h3></li>
                    <li><h3>2022(Nov) Data Migration from PostgreSQL to AWS S3 Bucket</h3></li>
                    <li><h3>2022(June) Movie Recommendation System with Python</h3></li>
                    <li><h3>2022(Feb) QR Code Generator</h3></li>
                    <li><h3>2022(Feb) URL Shortner</h3></li>
                    <li><h3>2022(Jan) Strong Password Generator</h3></li>

                </ul>
            </section>
        </div>
        <footer><p>© 2023 Kartikeya Tiwari. All rights reserved.</p></footer>
    </div>

</body>
</html>